// @font-face {
//     font-family: 'Roboto-Light';
//     font-weight: 300;
//     font-style: normal;
//     src: local('Roboto'),
//         url('../fonts/roboto-light.woff2') format('woff2'),
//         url('../fonts/roboto-light.woff') format('woff');
//     font-display: swap;
// }

@font-face {
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Roboto'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Roboto'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Roboto'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-display: swap;
}